@model IEnumerable<CBookingProject.Data.Entities.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Rooms</h3>
            </div>

            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomType.RoomDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RoomQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PeopleCapacity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomType.RoomDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeopleCapacity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.RoomId">Edit</a> |
                                <button data-id="@item.RoomId" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Room/Delete/', false);
        });
    </script>
}